@use '../layout/breakpoints' as b;
@use '../variables' as v;

.navbar {
    display: flex;
    flex-direction: column; // Móvil: En columna
    padding: 1rem 2rem;
    background-color: #212121; // Negro Houndoom
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);

    &-brand {
        color: #E53935; // Rojo Houndoom
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 1rem;
    }

    &-nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #E53935;
        }
    }

    // APLICANDO EL BREAKPOINT (Tablet y Desktop)
    @include b.respond-to('md') {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-brand {
            margin-bottom: 0;
        }

        &-nav {
            flex-direction: row;
            gap: 2rem;
        }
    }
}