@use '../variables' as v;

// filas 
//contenedor flexible para organizar el contenido en filas
//poniendo el padding de las columnas con margenes negativos para que las columnas de los extremos queden alineadas al contenedor

.row {
    display: flex;
    flex-wrap: wrap; // Esto permite que las columnas salten de línea si no caben
    margin-inline: calc(v.$grid-gutter / -2); // Compensa el padding de las columnas

    // Eliminar el gutter entre columnas si se usa la clase .no-gutters
    &.no-gutters {
        margin-inline: 0;
    
        > [class*="col-"] {
            padding-inline: 0;
        }
    }
}