@use '../variables' as v; // 1. Importamos las variables con el alias 'v'

// Bucle para generar tamaños de fuente proporcionales
@for $i from 1 through 6 {
    .fs-#{$i} {
        // 2. Usamos v.$font-size-base para que SASS encuentre la variable
        font-size: calc(#{v.$font-size-base} * (3.5 - (#{$i} * 0.5))) !important;
    }
}

// Clases de utilidad para el grosor y alineación del texto
.fw-bold {
    font-weight: 700 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}