//Escala de espaciado basada en la variable de 1rem
$escalas: (
    "0": 0,
    "1": ($spacer * 0.25),
    //4px
    "2": ($spacer * 0.5),
    //8px
    "3": $spacer,
    //16px
    "4": ($spacer * 1.5),
    //24px
    "5": ($spacer * 3) //48px
);

$lados: (
    "t": "top",
    "b": "bottom",
    "l": "left",
    "r": "right",
    "x": ("left", "right"),
    "y": ("top", "bottom")
);

//Genera clases tipo .mt-1 cumpliendo con lo q se pide en el pdf
@each $num, $medida in $escalas {
    .m-#{$num} {
        margin: $medida !important;
    }

    .p-#{$num} {
        padding: $medida !important;
    }

    @each $abreviatura, $direccion in $lados {
        .m#{$abreviatura}-#{$num} {
            @if type-of($direccion)==list {
                @each $d in $direccion {
                    margin-#{$d}: $medida !important;
                }
            }

            @else {
                margin-#{$direccion}: $medida !important;
            }
        }

        .p#{$abreviatura}-#{$num} {
            @if type-of($direccion)==list {
                @each $d in $direccion {
                    padding-#{$d}: $medida !important;
                }
            }

            @else {
                padding-#{$direccion}: $medida !important;
            }
        }
    }
}